.nav-wrapper {
  padding-left: 15px;
}

#main-img {
  width: 70%;
}

/* search */
#search {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 80%;
  height: 45px;
  padding: 0 45px 0 15px;
  border: 0;
}
#search:focus {
  box-shadow: 0 0 0 0 #ffffff;
}
.search-wrapper i.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* nav override */
nav ul li a{
  color: #009688;
}
nav {
  box-shadow: none;
}
hr {
  border-color: rgba(0, 150, 136, 0.3);
}
a:hover {
  cursor: pointer;
}


/* middle */
@media only screen and (max-width: 1600px) {
  .container {
    width: 90%;
  }
}
/* small */
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    overflow-x: hidden;
  }
}

/* wide */
@media only screen and (min-width: 1280px) {
  .nav-wrapper {
    margin-top: 5px;
  }

  .search-wrapper {
    width: 35%;
    margin: 0 0 0 auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 150, 136, 0.3);
}
