
#editor-container {
  margin-bottom: 0;
}
#player-container {
  text-align: center;
}
.draggable {
  display: none;
  position: absolute;
  cursor: move;
  border-radius: 10px;
  background-color: #fff;
  z-index: 10;
  padding: 30px;
  left: 20px;
  top: 20px;
}
.close-button {
  position:relative;
  top:-15px;
  right:-15px;
  cursor: pointer;
}

#publish {
  width: 500px;
}
#popup-instance {
  width: 300px;
}

#cue-list {
  padding: 5px;
  height: 80vh;
  overflow-y: scroll;
}
#cue-list .collapsible-header {
  position: relative;
}
#cue-list .collapsible-header > div > i {
  font-size: inherit;
}
#cue-list .collapsible-body {
  margin: 0px 15px;
}
#cue-list .materialize-textarea {
  padding-top: 10px;
}
#cue-list input[type=number] {
  text-align: center;
}
#cue-list .delete-cue {
  position: absolute;
  right: -10px;
}
.switch {
  padding: 10px 0;
}
#auto-timemove {
  float: right;
}
#right-button-container {
  width: 0;
  height: 0;
  position: relative;
  float: right;
  top: 30px;
  right: -20px;
}
#right-button-container > * {
  margin: 5px;
}
.file-field input[type=file]::-webkit-file-upload-button {
  display: none;
}

.valign-wrapper .valign {
  margin: 0 auto;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 28px;
  left: -7px;
  top: -6px;
}
.noUi-handle:before {
  display: none;
}
.noUi-handle:after {
  display: none;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
.mejs-captions-position {
	bottom: 30px;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 85%;
  }
  .mejs-captions-text {
    font-size: 23px;
    text-shadow:
  	 	-0.8px -0.8px 0 #000,
  		1.8px -0.8px 0 #000,
  		-0.8px 1.8px 0 #000,
  		1.8px 1.8px 0 #000;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 85%;
  }
  .mejs-captions-text {
    font-size: 25px;
    text-shadow:
  	 	-1.0px -1.0px 0 #000,
  		2.3px -1.0px 0 #000,
  		-1.0px 2.3px 0 #000,
  		2.3px 2.3px 0 #000;
  }
}

.mejs-container-fullscreen .mejs-captions-text {
  font-size: 2vmin;
  text-shadow:
	 	-0.15vmin -0.15vmin 0 #000,
		0.35vmin -0.15vmin 0 #000,
		-0.15vmin 0.35vmin 0 #000,
		0.35vmin 0.35vmin 0 #000;
}

.mejs-captions-text {
  padding: 0 5px;
}
