
<div id="hs-app">
  <div class="container">

    <header>
      <h1>{{ title }}</h1>
      <hs-player></hs-player>
    </header>

    <section>
      <button @click="addCue()">add</button>
      <hr>
      <div class="hs-dialogue-list">
        <div class="hs-dialogue" v-for="dialogue of dialogues">
          <input type="number" v-model.number="dialogue._start" min="0">
          <input type="number" v-model.number="dialogue._end" min="0">
          <textarea v-model="dialogue._rawPartsString" @keyup="keyupText(dialogue)" @change="changeText(dialogue)"></textarea>
        </div>
      </div>
    </section>

  </div>
</div>
