
<div id="hs-app">
  <div class="container">

    <h1>{{ title }}</h1>
    <hs-player></hs-player>

    <div class="hs-cue-list">
      <div class="hs-cue" v-for="cue of cues">
        <input type="number" v-model.number="cue._start" min="0">
        <input type="number" v-model.number="cue._end" min="0">
        <textarea v-model="cue._rawPartsString" @keyup="keyupText(cue)" @change="changeText(cue)"></textarea>
      </div>
    </div>

    <hr>

    <button @click="addCue()">add</button>

  </div>
</div>
