<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hsub-editor</title>

  <!-- lib -->
  <script src="/lib/vue.min.js"></script>

  <link href="/lib/video-js.min.css" rel="stylesheet">
  <script src="/lib/video.min.js"></script>

  <script src="/lib/Youtube.min.js"></script>

  <link href="/lib/libjass.css" rel="stylesheet">
  <script src="/lib/libjass.js"></script>

  <link href="/lib/videojs.ass.css" rel="stylesheet">
  <script src="/lib/videojs.ass.js"></script>

  <!-- theme -->
  <link rel="stylesheet" href="/css/<%= theme %>.css">
</head>
<body>

<%- include( `${theme}.html` ) %>

</body>
<script src="js/editor.js"></script>
</html>
